/*_____________________________________Buttons_________________________*/

.btn {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 1rem 0;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 2rem 3rem;
  border: 0;
  border-radius: 40px;
}
.btn--primary {
  background: var(--color-primary);
  color: var(--color-heading);
  transition: 0.3s;
}

.btn--primary:hover {
  background: #bd0000c4;
}
.btn--secondary {
  background: var(--color-heading);
  color: var(--color-primary);
}
.btn--secondary:hover {
  background: #ffdbdb;
}
a.button {
  color: var(--color-primary);
  font-size: 2rem;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5rem;
  background: var(--color-heading);
  text-decoration: none;
  margin: 25px;
  transition: all 0.3s ease;
}

a.button:hover {
  color: var(--color-heading);
  background: var(--color-primary);
}

.btn__info {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4rem;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  padding: 0.7rem 1rem;
  border: 0;
  border-radius: 40px;
}

@media screen and (min-width: 880px) {
  .btn {
    font-size: 1.5rem;
  }
}

/*__________________________swiper button css___________________*/

.nav-btn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  visibility: hidden;
  transition: 0.2s;
  z-index: 1000;
}
.nav-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}
.swiper-button-next {
  right: 50px;
  z-index: 1000;
}
.swiper-button-prev {
  left: 50px;
  z-index: 1000;
}

.nav-btn::before,
.nav-btn::after {
  font-size: 20px;
  color: var(--color-primary);
}
.swiper-pagination-bullet {
  opacity: 0.5;
  height: 12px;
  width: 12px;
  z-index: 1000;
  background-color: var(--color-heading);
}
.swiper-pagination-bullet-active {
  background-color: var(--color-primary);
}

@media screen and (min-width: 880px) {
  .nav-btn {
    visibility: visible;
  }
  .swiper-pagination-bullet {
    visibility: hidden;
  }
}
