/*__________________________Contacts________________*/

.contact {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact::before {
  content: "";
  position: absolute;
  background: url(../Images/God_s-window-dark.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  opacity: 0.25;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.google-map {
  width: 100%;
  height: 300px;
  margin-top: 3rem;
  border-radius: var(--round-02);

  box-shadow: var(--box-shadow);
}

.contact__content {
  max-width: 800px;
  text-align: center;
}

.contact__content h2 {
  font-size: 3.5rem;
  font-weight: 400;
}
.contact__content p {
  font-weight: 300;
}

.contact__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.contact__info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact__box {
  position: relative;
  padding: 2rem 0;
  display: flex;
}

.contact__icon {
  min-width: 60px;
  height: 60px;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.contact__icon .fas {
  color: var(--color-heading);
}
.contact__text {
  display: flex;
  margin-left: 2rem;
  font-size: 1.5rem;

  flex-direction: column;
  font-weight: 300;
}

.contact__text iframe {
  border-radius: var(--round-02);
  box-shadow: var(--box-shadow);
  transition: margin-left 0.3s ease;
}

.contact__text iframe:hover {
  margin-left: 2rem;
}

.contact__text h3 {
  font-weight: 400;
  margin: 0;
  text-align: left;
  color: var(--color-heading);
}

.contact__text p {
  text-align: left;
  padding: 0;
  margin: 0;
}

.contact__form {
  width: 100%;
  padding: 4rem;
  background: var(--color-heading);
  border-radius: 1.5rem;
}
.invalid__text {
  color: red !important;
}
.contact__form h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #333;
}
.contact__form .input__box {
  position: relative;
  width: 100%;
  margin-top: 1rem;
}

.contact__form .input__box input,
.contact__form .input__box textarea {
  width: 100%;
  padding: 5px 0;
  margin: var(--spacer);
  font-size: 15px;
  border: none;
  outline: none;
  resize: none;
  border-bottom: 2px solid #333;
}
.contact__form .input__box label {
  font-size: 15px;
  color: #666;
}

.contact__form .input__box input[type="submit"] {
  width: 100px;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 2rem;
  border-radius: var(--round-03);
}

.hidden {
  visibility: hidden;
}

.btn-primary {
  background: var(--color-selected);
  color: var(--color-heading);
  transition: 0.25s ease;
}

.btn-primary:hover {
  background: var(--color-primary);
}

@media screen and (max-width: 991px) {
  .contact {
    padding: 50px;
  }
  .contact__container {
    flex-direction: column;
  }
  .contact__info {
    margin-bottom: 40px;
  }
}
