/*______________________________Home____________________*/

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;

  justify-content: center;
  flex-direction: column;

  background: var(--color-primary);
}
.home-container {
  position: absolute;
  width: 100%;
  z-index: 888;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.home::before {
  z-index: 777;
  content: "";
  position: absolute;
  background: var(--color-Background);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.home .home__content {
  z-index: 888;
  width: 70%;
  top: 40%;
  margin-top: 0 50px;
  padding: 0 100px;
  position: absolute;
  display: none;
}

.home .home__content.active {
  display: block;
}

.home .home__content h1 {
  font-size: 5rem;
  font-weight: 900;
  margin-bottom: 0;
  padding: 0;
  color: var(--color-heading);
  text-transform: uppercase;
  letter-spacing: 0;
  text-align: left;
}
.home .home-directors {
  color: var(--color-primary);
  font-size: 2rem;
  text-align: left;
  margin-top: 0;
}
.home .home__content p {
  text-align: left;
  padding-left: 0;
  margin-top: 2rem;
  color: var(--color-heading);
}
.home .home__content a {
  margin-left: 0;
}
.home .home__content h2 {
  font-size: 4rem;
  font-weight: 400;
  text-align: left;
  padding-top: 0;
  margin: 0;
  text-transform: uppercase;
  color: var(--color-primary);
  letter-spacing: 0;
}
.home .media__icons {
  z-index: 999;
  position: absolute;
  right: 10px;

  display: flex;
  top: 40%;
  flex-direction: column;
  transition: 0.5s ease;
}

.home .media__icons a {
  color: var(--color-heading);

  font-size: 1.6rem;
  transition: 0.3s ease;
}

.home .media__icons a:active {
  color: var(--color-primary);
}

.home .media__icons a:not(last-child) {
  margin-bottom: 20px;
}
.home .media__icons a:hover {
  transform: scale(1.3);
}
.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;

  transform: translateY(650px);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: var(--color-heading);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 0, 0, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: var(--color-primary);
}
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.video-slide {
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
.video-slide.active {
  clip-path: circle(150% at 0 50%);
}
@media screen and (max-width: 1040px) {
  .home {
    padding: 100px 20px;
  }
  .home .home__content {
    top: 30%;
  }
  .home .media__icons {
    right: 15px;
  }
  .slider-navigation {
    transform: translateY(550px);
  }
}
@media screen and (max-width: 995px) {
  .home .home__content {
    padding: 0;
  }
}
