/*_________________________Photos slideshow_____________________*/
#slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 1000000;
  display: block;
}

#slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: slideshow 1s linear infinite;
}
