/*____________________________________Pricing Plan_________________________*/
.special-deals {
  display: flex;
  flex-direction: column;
}
.special-deals .page-subtitle,
.special-deals .section-title {
  padding: 0 10rem;
  margin: 2rem 0;
}

.special-deals .section-title {
  text-align: center;
  margin: 0;
}

.special-deals > h1 {
  margin: 3rem 6rem;
}

.special-deals > h1 span {
  color: var(--color-primary);
}

.special-deals span {
  color: var(--color-heading);
}

.special-deals > .price-wrapper {
  position: relative;
  width: 100%;
  display: flex;

  justify-content: center;
  overflow: hidden;
}

.text-link {
  color: var(--color-primary);
}

.price-slide {
  width: 100%;
  display: flex;
  height: 100%;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.pricing__plan-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
  transition: transform 1s ease;
  position: relative;
  overflow: hidden;
}

.pricing__plan-container::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background: url(../Images/services/soundsystem.jpg) no-repeat;
  background-position: center;
  filter: blur(3rem);
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

.pricing__plan {
  border-radius: 25px;
  height: 100%;
  min-width: 240px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 10px;
  border: 1px solid var(--color-selected);
  transition: all 0.3s ease;
}
.pricing__plan:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.pricing__plan-highlighted {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.pricing__plan--special-text {
  padding: 5px;
  text-align: center;
  font-weight: bold;
  color: var(--color-heading);
  background: var(--color-primary);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2) inset;
}

.pricing__plan-header {
  background: var(--color-selected);
  padding: 15px;
}

.pricing__plan-summary {
  margin: 0;
  text-align: center;
}

.pricing__plan-summary,
.pricing__plan-feature,
.pricing__plan-text {
  font-size: 1.2rem;
  font-weight: 300;
}

.pricing__plan-description {
  padding: 15px;
  background: var(--color-Background);
}

.pricing__plan-feature {
  padding-left: 2.5rem;
  position: relative;
}

.pricing__plan-feature:not(last-child) {
  margin-bottom: 0.5rem;
}

.pricing__plan-feature::before {
  content: "\2714";
  color: var(--color-primary);
  position: absolute;
  left: 0;
}

.pricing__plan-actions {
  padding: 15px;
  background: var(--color-Background);
  border-top: 1px solid var(--color-body);
  display: flex;
  text-align: left;
  height: 100%;
  flex-direction: column;
}

.pricing__plan-cost,
.pricing__plan-text,
.pricing__plan-feature {
  color: var(--color-body);
}

.pricing__plan-title,
.pricing__plan-cost {
  margin: 0;
  font-size: 2rem;
}
.pricing__plan-text {
  margin: 0 0 10px 0;
}

.pricing__plan-button {
  display: inline-block;
  border: 1px solid var(--color-selected);
  color: var(--color-selected);
  margin: 15px auto;
  padding: 8px 20px;
  border-radius: 25px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.02rem;
  transition: all 0.3s;
}

.pricing__plan-button:hover {
  background: var(--color-primary);
  color: var(--color-heading);
  border: 1px solid var(--color-primary);
}

@media (max-width: 880px) {
  .special-deals .page-subtitle,
  .special-deals .section-title {
    padding: 0 4rem;
  }
}
