/*__________________________________Our Services_____________________*/

.service-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-Background);
  z-index: 777;
}

.heading-p {
  width: 600px;
}

.service-heading {
  position: relative;
}
.service-heading h1 {
  margin-bottom: 1rem;
  color: var(--color-heading);
}
.service-wrapper {
  position: relative;
  margin: 4rem 0;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  overflow: hidden;
  align-items: center;
  width: 100%;
  overflow: visible;
  justify-content: center;
}

.service {
  position: relative;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  height: 300px;
  margin: 1rem;
  z-index: 888;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.service__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.service__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.25;
  transition: all 0.25s linear;
}

.service:hover .service__image img {
  transform: scale(1.07);
}

.service__content {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.service h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;

  margin-top: 0;
}
.service-icons {
  font-size: 10rem;
  text-align: center;
  margin-top: 1rem;
  color: var(--color-body);
}
.arrow-icon {
  font-size: 3rem;
  color: var(--color-primary);
}

.arrow-icon__bkg {
  border: 2px solid var(--color-primary);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-primary);
  text-transform: uppercase;
  margin: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 8px;
  transition: 0.25s ease;
}
.arrow-icon__bkg:hover {
  color: var(--color-heading);
  background-color: var(--color-primary);
}
.num-count__wrapper {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 4rem 0;
}
.num-count__wrapper i {
  color: var(--color-selected);
  font-size: 2.5em;
  text-align: center;
}

.num-count__container {
  width: 28vmin;
  height: 25vmin;
  position: relative;
  border: 1px solid var(--color-selected);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
  background-color: var(--color-Background);
  border-bottom: 1rem solid var(--color-primary);
  position: relative;
  padding: 1rem 0;
  font-size: 16px;
}

span.num {
  color: var(--color-heading);
  display: grid;
  place-items: center;
  font-size: 5rem;
  font-weight: 600;
}
span.num-count__text {
  color: #e0e0e0;
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
  font-weight: 400;
}

@media screen and (max-width: 1030px) {
  .num-count__container {
    height: 24vmin;
    width: 26vmin;
    font-size: 12px;
  }
}
@media screen and (max-width: 680px) {
  .heading-p {
    width: 100%;
  }

  .num-count__wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .num-count__container {
    width: 40%;
    height: 25vmin;
    font-size: 14px;
    line-height: 0;
  }
}
@media screen and (max-width: 580px) {
  .num-count__container {
    width: 80%;
    height: 100%;
    line-height: 1;
    font-size: 8px;
  }
}
