<!--about us-->
<section id="about" class="about__container">
  <div class="about">
    <h1 class="page-title">About Us</h1>
    <div>
      <p class="page-subtitle">
        Unleash Your Story with Agurchu Production! We're more than just a media
        company, we're a movement to bring your story to life, ignite your
        brand, and engage your audience like never before
      </p>
    </div>
  </div>
  <div class="about__content">
    <h2 class="section-title">The Story Behind the Stories</h2>
    <div class="about__content-seg">
      <div>
        <p class="section-subtitle">
          Get to know the talented team behind our inspiring and impactful
          content.
        </p>
        <p class="faq-subtitle">
          Agurchu Production was derived from the brand Agurchu for graphic
          designs and branding, which was founded in 2019 by Katlego Jim
          Mtimane. Katlego, who is a talented graphic designer, web developer,
          video editor, director,photographer and music producer, started
          Agurchu with the goal of offering high-quality graphic design and
          branding services to clients. Over time, Katlego's passion for
          creating impactful and meaningful content expanded, leading him to
          partner with Lebowa Johannes Mtimane to transform the brand into a
          full-service media production and development company.
          <br />
          <br />
          Today, Agurchu Production specializes in creating high-quality,
          impactful content for a wide range of clients. From music videos and
          commercials to branded content, sound system and graphic designs, we
          have the expertise and experience to bring any project to life. Our
          team of talented filmmakers, writers, designers, web developers, and
          producers works closely with each client to understand their unique
          needs and deliver customized solutions that achieve their objectives.
          <br />
          <br />
          Our competitive advantage lies in our combination of creative talent,
          technical expertise, and diversity. We use cutting-edge equipment and
          technology to produce high-quality, visually stunning content that
          engages audiences and delivers results. With a clear vision, a passion
          for storytelling, and a commitment to excellence, Agurchu Production
          is poised for success in the dynamic and ever-evolving media
          production industry.
        </p>

        <a class="btn__info btn--primary" href="#">More</a>
      </div>
      <article id="directors">
        <h2 class="section-title">Our Directors</h2>
        <figure class="directors">
          <div class="card__image">
            <img class="card__img" src="Images/Lebowa_J._profile.jpg" />
          </div>
          <div class="profile__content">
            <p class="section-subtitle">Lebowa J. Mtimane</p>
            <p class="faq-subtitle">
              A visionary with over 20 years of experience in photography,
              videography and directing.<br /><br />
              With a keen business acumen and passion for his craft, he brings a
              unique blend of creativity and strategy to the table.
            </p>
            <p class="faq-subtitle">
              call: +27 73 277 9379<br />email: jntimane68@gmail.com
            </p>
          </div>
        </figure>
        <figure class="directors">
          <div class="card__image">
            <img class="card__img" src="Images/Katlego_J_Profile.jpg" />
          </div>
          <div class="profile__content">
            <p class="section-subtitle">Katlego J. Mtimane</p>
            <p class="faq-subtitle">
              A multi-talented creative professional with expertise in graphic
              design, video editing, direction, and photography.<br /><br />
              With a keen eye for detail and a passion for visual storytelling,
              he brings his unique vision and skillset to every project he works
              on, delivering exceptional results for clients.
            </p>
            <p class="faq-subtitle">
              call: +27 63 734 2965<br />email: mkatlegojim@gmail.com
            </p>
          </div>
        </figure>
      </article>
    </div>
  </div>
</section>
