<!--Contacts section starts-->

<section class="contact">
  <div class="contact__content">
    <h2>Contact Us</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod id alias
      repellat eaque animi excepturi necessitatibus, aspernatur veniam illo ex
      impedit deserunt debitis numquam ratione voluptatem nemo harum? Fugiat,
      autem!
    </p>
  </div>
  <div class="contact__container">
    <div class="contact__info">
      <div class="contact__box">
        <div class="contact__icon">
          <i class="fas fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class="contact__text">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7251.926552674123!2d30.28889729532085!3d-24.6593923646799!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1ec22ddb213bc60b%3A0x1b0ad481bb8d9257!2sAgurchu%20Media%20Production!5e0!3m2!1sen!2sza!4v1676281118785!5m2!1sen!2sza"
            width="100%"
            height="100%"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
      <div class="contact__box">
        <div class="contact__icon"><i class="fas fa-phone"></i></div>
        <div class="contact__text">
          <h3>Phone</h3>
          <p>+27 61 436 1437<br />+27 72 705 5841</p>
        </div>
      </div>
      <div class="contact__box">
        <div class="contact__icon">
          <i class="fas fa-envelope"></i>
        </div>
        <div class="contact__text">
          <h3>Email</h3>
          <p>agurchu@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="contact__form">
      <form action="">
        <h2>Send Message</h2>
        <div class="input__box">
          <input type="text" name="" required="required" />
          <span>Full Name</span>
        </div>
        <div class="input__box">
          <input type="text" name="" required="required" />
          <span>Email</span>
        </div>
        <div class="input__box">
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            required="required"
          ></textarea>
          <span>Type Your Message...</span>
        </div>
        <div class="input__box">
          <input type="submit" name="" value="Send" />
        </div>
      </form>
    </div>
  </div>
</section>

<!--Contacts section ends-->
