<section class="fag">
  <div class="fag-seg about__content-seg">
    <h2 class="section-title">FAQ</h2>
    <h3 class="section-title section__highlighted">
      What services does Agurchu Production offer?
    </h3>
    <p class="faq-subtitle">
      Agurchu Production offers a full range of media production services
      including music videos,wedding shoot and other events, commercials,
      branded content, sound systems and graphic designs.
    </p>
    <h3 class="section-title section__highlighted">
      Can Agurchu Production handle projects of all sizes?
    </h3>
    <p class="faq-subtitle">
      Yes, we have the experience and expertise to handle projects of all sizes
      and complexity. Our team is well equipped to deliver high-quality,
      visually stunning content that engages audiences and delivers results.
    </p>
    <h3 class="section-title section__highlighted">
      What is the process for working with Agurchu Production?
    </h3>
    <p class="faq-subtitle">
      The process for working with Agurchu Production starts with a consultation
      to understand your goals and needs. From there, we work with you to
      develop a creative concept and create a detailed production plan. Our team
      then executes the plan to bring your project to life.
    </p>
    <h3 class="section-title section__highlighted">
      How can I find out more about Agurchu Production's portfolio and past
      work?
    </h3>
    <p class="faq-subtitle">
      You can view our portfolio and past work on our website or request a
      portfolio link to see our previous work.
    </p>
    <a class="btn__info btn--primary" href="#contact us">Contact Us</a>
  </div>
</section>
