<!--footer section starts-->

<footer>
  <div class="footer-box-container">
    <div class="footer-box">
      <h3>Quick Links</h3>
      <a href="home.html"><i class="fas fa-angle-right"></i> Home</a>
      <a href="about.html"><i class="fas fa-angle-right"></i> About</a>
      <a href="services.html"><i class="fas fa-angle-right"></i> Services</a>
      <a href="portifolio.html"><i class="fas fa-angle-right"></i> Portfolio</a>
    </div>

    <div class="footer-box">
      <h3>Extra Links</h3>
      <a href="#"><i class="fas fa-angle-right"></i> Ask Questions</a>
      <a href="#"><i class="fas fa-angle-right"></i> About Us</a>
      <a href="#"><i class="fas fa-angle-right"></i> Privacy Policy</a>
      <a href="#"><i class="fas fa-angle-right"></i> Terms & Conditions</a>
    </div>

    <div class="footer-box">
      <h3>Contact Info</h3>
      <a href="#"><i class="fas fa-phone"></i> +27 61 436 1437</a>
      <a href="#"><i class="fas fa-phone"></i> +27 73 277 9379</a>
      <a href="#"><i class="fas fa-envelope"></i> agurchu@gmail.com</a>
      <a href="#"><i class="fas fa-map"></i> Burgersfort, South Africa</a>
    </div>

    <div class="footer-box">
      <h3>Follow Us</h3>
      <a href="#"><i class="fab fa-facebook"></i> facebook</a>
      <a href="#"><i class="fab fa-twitter"></i> twitter</a>
      <a href="#"><i class="fab fa-instagram"></i> instagram</a>
      <a href="#"><i class="fab fa-linkedin"></i> linkedin</a>
    </div>
  </div>

  <div class="credit">
    Created by <span>Mr Katlego J. Mtimane</span> | All rights reserved!
  </div>
</footer>

<!--footer section starts-->
