<!--Home Page-->
<header>
  <!--Navigation bar-->
  <nav class="navbar">
    <a class="nav__brand" href="/"
      ><img class="logo" src="Images/Agurchu logo white x0.5.svg.png"
    /></a>

    <ul class="nav-menu">
      <li class="nav__item">
        <a class="nav-link" href="/"><i class="fa-solid fa-home"></i>Home</a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav-link"
          ><i class="fa-solid fa-users-gear"></i>About Us</a
        >
      </li>
      <li class="nav__item">
        <a href="#services" class="nav-link"
          ><i class="fa-solid fa-list"></i>Services<i
            class="fa-solid fa-chevron-down"
          ></i
        ></a>
        <div class="nav__opt">
          <ul>
            <li class="nav__item--Opt">
              <a href="#content">Content & Film</a>
            </li>
            <li class="nav__item--Opt"><a href="#reels">Reels</a></li>
            <li class="nav__item--Opt">
              <a href="#adspots">AD Spots</a>
            </li>
            <li class="nav__item--Opt">
              <a href="cororateVideos">Corporate Videos</a>
            </li>
            <li class="nav__item--Opt">
              <a href="#sound">Audio Production and Engineering</a>
            </li>
            <li class="nav__item--Opt">
              <a href="graphics">Graphic Designs</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav__item">
        <a href="#blog" class="nav-link"
          ><i class="fa-solid fa-blog"></i>Portfolio</a
        >
      </li>
      <li class="nav__item">
        <a href="#contacts" class="nav-link"
          ><i class="fa-solid fa-phone"></i>Contacts</a
        >
      </li>
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>

<!--opening slideshow-->
<div id="slideshow">
  <img src="slides/20220430_101936.jpg" />
  <img src="slides/IMG_2652.jpg" />
  <img src="slides/IMG_0539.jpg" />
  <img src="slides/20220430_101936.jpg" />
  <img src="slides/IMG_2652.jpg" />
  <img src="slides/IMG_0539.jpg" />
  <img src="slides/20220430_101936.jpg" />
  <img src="slides/IMG_2652.jpg" />
  <img src="slides/IMG_0539.jpg" />
  <img src="slides/20220430_101936.jpg" />
  <img src="slides/IMG_2652.jpg" />
  <img src="slides/IMG_0539.jpg" />
</div>
<!--opening slideshow ends-->
<!-------------Videoslide section starts---------->
<section id="homepage" class="home">
  <video
    class="video-slide active"
    src="videos/Izingane_promo.mp4"
    autoplay
    muted
    loop
  ></video>
  <video
    class="video-slide"
    src="videos/20220430_150234.mp4"
    autoplay
    muted
    loop
  ></video>
  <video
    class="video-slide"
    src="videos/Ex_dance_at_the_river.mp4"
    autoplay
    muted
    loop
  ></video>
  <video
    class="video-slide"
    src="videos/Agurchu_&_Soulful Nox.mp4"
    autoplay
    muted
    loop
  ></video>
  <div class="home__content active">
    <h1>Bring Your Vision</h1>
    <h2>to Life with Us</h2>

    <p>High-Quality, Impactful Media Production</p>
    <a class="btn__info btn--primary" href="#">Get A Quote</a>
  </div>
  <div class="home__content">
    <h1>Agurchu Production</h1>
    <p>
      a full-service media production and development company based in
      Mashifane, Burgersfort, South Africa. Our mission is to create
      high-quality, impactful content that helps businesses, organizations, and
      individuals tell their stories and connect with their audiences in a
      meaningful way.
    </p>
    <a class="btn__info btn--primary" href="#">About Us</a>
  </div>
  <div class="home__content">
    <h1>Our Directors</h1>
    <h3 class="home-directors">
      Katlego J.Mtimane <br />
      Lebowa J.Mtimane
    </h3>

    <a class="btn__info btn--primary" href="#directors">Their Contacts</a>
  </div>
  <div class="home__content">
    <h1>Check Out</h1>
    <h2>Our special Deals</h2>
    <p>Wedding Packages, Logo Designs, Music videos and Indoors Photoshoot</p>
    <a class="btn__info btn--primary" href="#">Explore</a>
  </div>
  <div class="media__icons">
    <a href="https://web.facebook.com/agurchu" target="_blank"
      ><i class="fab fa-solid fa-facebook-f"></i
    ></a>
    <a href="https://www.instagram.com/_u/agurchu" target="_blank"
      ><i class="fab fa-solid fa-instagram"></i
    ></a>
    <a href="https://vm.tiktok.com/ZSeRD2N29/ " target="_blank"
      ><i class="fab fa-solid fa-tiktok"></i
    ></a>
  </div>
    <a href="https://www.youtube.com/@agurchu " target="_blank"
      ><i class="fa-solid fab fa-youtube"></i
    ></a>
  </div>
  <div class="slider-navigation">
    <div class="nav-btn active"></div>
    <div class="nav-btn"></div>
    <div class="nav-btn"></div>
    <div class="nav-btn"></div>
    <div class="nav-btn"></div>
  </div>
</section>

<!-------------Videoslide section ends---------->