<header>
  <!--Navigation bar-->
  <nav class="navbar">
    <a class="nav__brand" href="/"
      ><img class="logo" src="Images/Agurchu logo white x0.5.svg.png"
    /></a>

    <ul class="nav-menu">
      <li class="nav__item">
        <a class="nav-link" href="/"><i class="fa-solid fa-home"></i>Home</a>
      </li>
      <li class="nav__item">
        <a href="#about" class="nav-link"
          ><i class="fa-solid fa-users-gear"></i>About Us</a
        >
      </li>
      <li class="nav__item">
        <a href="#services" class="nav-link"
          ><i class="fa-solid fa-list"></i>Services<i
            class="fa-solid fa-chevron-down"
          ></i
        ></a>
        <div class="nav__opt">
          <ul>
            <li class="nav__item--Opt">
              <a href="#content">Content & Film</a>
            </li>
            <li class="nav__item--Opt"><a href="#reels">Reels</a></li>
            <li class="nav__item--Opt">
              <a href="#adspots">AD Spots</a>
            </li>
            <li class="nav__item--Opt">
              <a href="cororateVideos">Corporate Videos</a>
            </li>
            <li class="nav__item--Opt">
              <a href="#sound">Audio Production and Engineering</a>
            </li>
            <li class="nav__item--Opt">
              <a href="graphics">Graphic Designs</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="nav__item">
        <a href="#blog" class="nav-link"
          ><i class="fa-solid fa-blog"></i>Portfolio</a
        >
      </li>
      <li class="nav__item">
        <a href="#contacts" class="nav-link"
          ><i class="fa-solid fa-phone"></i>Contacts</a
        >
      </li>
    </ul>

    <div class="hamburger">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </nav>
</header>
