<!--Pricing plan-->
<section class="special-deals">
  <h1>Speacial Deals<span>!!!</span></h1>
  <div class="price-wrapper">
    <div class="price-slide">
      <h2 class="section-title">Our <span>Wedding</span> Packages</h2>

      <div class="pricing__plan-container">
        <div class="pricing__plan">
          <div class="pricing__plan-header">
            <h1 class="pricing__plan-title">Package 1</h1>
            <h2 class="pricing__plan-summary">For low budget event</h2>
          </div>
          <div class="pricing__plan-description">
            <ul class="pricing__plan-list">
              <li class="pricing__plan-feature">two 4K Video cameras</li>
              <li class="pricing__plan-feature">
                Unlimited Photograph by one photographers
              </li>
              <li class="pricing__plan-feature">
                HD film of between 60 mins and 120 mins
              </li>
            </ul>
          </div>
          <div class="pricing__plan-actions">
            <p class="pricing__plan-cost">R8 000</p>
            <p class="pricing__plan-text">50% Deposit</p>
            <a href="./" class="pricing__plan-button">Place Order</a>
            <p class="pricing__plan-text">Money back guarrenty</p>
          </div>
        </div>
        <div class="pricing__plan pricing__plan-highlighted">
          <div class="pricing__plan--special-text">Recommended</div>
          <div class="pricing__plan-header">
            <h1 class="pricing__plan-title">Package 2</h1>
            <h2 class="pricing__plan-summary">For standard event event</h2>
          </div>
          <div class="pricing__plan-description">
            <ul class="pricing__plan-list">
              <li class="pricing__plan-feature">Three 4K Video cameras</li>
              <li class="pricing__plan-feature">
                Unlimited Photograph by Two photographers
              </li>
              <li class="pricing__plan-feature">
                4K film of between 60 mins and 120 mins
              </li>
              <li class="pricing__plan-feature">
                Three flat screen TVs for live display
              </li>
              <li class="pricing__plan-feature">Maximum Sound System</li>
            </ul>
          </div>
          <div class="pricing__plan-actions">
            <p class="pricing__plan-cost">R10 000</p>
            <p class="pricing__plan-text">50% Deposit</p>
            <a href="./" class="pricing__plan-button">Place Order</a>
            <p class="pricing__plan-text">Money back guarrenty</p>
          </div>
        </div>
        <div class="pricing__plan">
          <div class="pricing__plan-header">
            <h1 class="pricing__plan-title">Package 3</h1>
            <h2 class="pricing__plan-summary">For fency event of 7 hours</h2>
          </div>
          <div class="pricing__plan-description">
            <ul class="pricing__plan-list">
              <li class="pricing__plan-feature">Three 4K Video cameras</li>
              <li class="pricing__plan-feature">
                Unlimited Photograph by two photographers
              </li>
              <li class="pricing__plan-feature">
                4K film of between 60 mins and 120 mins
              </li>
              <li class="pricing__plan-feature">
                Three flat screen TVs for live display
              </li>
              <li class="pricing__plan-feature">Maximum Sound System</li>
              <li class="pricing__plan-feature">Drone</li>
              <li class="pricing__plan-feature">A3 Album Book of 20 pages</li>
            </ul>
          </div>
          <div class="pricing__plan-actions">
            <p class="pricing__plan-cost">R13 000</p>
            <p class="pricing__plan-text">50% Deposit</p>
            <a href="./" class="pricing__plan-button">Place Order</a>
            <p class="pricing__plan-text">Money back guarrenty</p>
          </div>
        </div>
      </div>
      <div class="pagination">
        <div class="price-dot"></div>
        <div class="price-dot"></div>
        <div class="price-dot"></div>
      </div>
      <p class="page-subtitle">
        These packages are for one day event and include comprehensive
        photography, videography and audio services to capture the cherished
        memories of your special day. With years of experience, our team of
        experts will help create stunning visuals and sounds to help relive the
        moments for years to come. Trust us to preserve the magic of your
        wedding day. Check out our
        <a class="text-link" href="">Sound System</a>
      </p>
    </div>
    <!--seperate price-slide-->
  </div>
</section>
