<!---------------Service section starts----------------->

<section id="services" class="service-section">
  <div class="num-count__wrapper">
    <div class="num-count__container">
      <i class="fa-solid fa-list-check"></i>
      <span class="num" data-val="400">000</span>
      <span class="num-count__text">Completed Projects</span>
    </div>
    <div class="num-count__container">
      <i class="fa-solid fa-list-check"></i>
      <span class="num" data-val="340">000</span>
      <span class="num-count__text">Completed Projects</span>
    </div>

    <div class="num-count__container">
      <i class="fa-solid fa-star"></i>
      <span class="num" data-val="225">000</span>
      <span class="num-count__text">Five Stars</span>
    </div>
    <div class="num-count__container">
      <i class="fa-solid fa-face-smile-beam"></i>
      <span class="num" data-val="250">000</span>
      <span class="num-count__text">Happy Clients</span>
    </div>
  </div>
  <div class="service-heading">
    <h1>OUR SERVICES</h1>
    <div class="heading-p">
      <p>
        We offer a full range of media production, specializing in creating
        high-quality, impactful content for clients across various industries.
      </p>
    </div>
  </div>

  <div class="service-wrapper">
    <div id="content" class="service">
      <img src="Images/Agurchu_Title-background-6.jpg" />
      <i class="bx bx-film service-icons"></i>
      <h2>Content & Film</h2>
      <p>High-quality film and video production, from concept to delivery.</p>
      <a class="arrow-icon__bkg" href="#"
        ><i class="bx bxs-right-arrow-alt arrow-icon"></i
      ></a>
    </div>

    <div id="reels" class="service">
      <img src="Images/Agurchu_Title-background-6.jpg" />
      <i class="bx bxs-videos service-icons"></i>
      <h2>Reels</h2>
      <p>
        Most creative, entertaining and dynamic content captured in 15-60 second
        video clips.
      </p>
      <a class="arrow-icon__bkg" href="#"
        ><i class="bx bxs-right-arrow-alt arrow-icon"></i
      ></a>
    </div>

    <div id="adspots" class="service">
      <img src="Images/Agurchu_Title-background-6.jpg" />
      <i class="bx bxl-youtube service-icons"></i>
      <h2>AD Spots</h2>
      <p>
        Attention-grabbing and effective advertising solutions, tailored to meet
        clients' specific needs.
      </p>
      <a class="arrow-icon__bkg" href="#"
        ><i class="bx bxs-right-arrow-alt arrow-icon"></i
      ></a>
    </div>

    <div class="service">
      <img src="Images/Agurchu_Title-background-6.jpg" />
      <i class="bx bx-video-recording service-icons"></i>
      <h2>Corporate Videos</h2>
      <p>Corporate and brand storytelling through compelling visual content.</p>
      <a class="arrow-icon__bkg" href=""
        ><i class="bx bxs-right-arrow-alt arrow-icon"></i
      ></a>
    </div>

    <div class="service">
      <img src="Images/Agurchu_Title-background-6.jpg" />
      <i class="bx bx-music service-icons"></i>
      <h2>Audio Production and Engineering</h2>
      <p>
        Professional audio production and engineering services, including
        recording, mixing, and mastering.
      </p>
      <a class="arrow-icon__bkg" href=""
        ><i class="bx bxs-right-arrow-alt arrow-icon"></i
      ></a>
    </div>

    <div class="service">
      <img src="Images/Agurchu_Title-background-6.jpg" />
      <i class="bx bxs-color service-icons"></i>
      <h2>Graphic Designs</h2>
      <p>
        Creative and impactful graphic design solutions, including branding,
        logos, and marketing materials.
      </p>
      <a class="arrow-icon__bkg" href=""
        ><i class="bx bxs-right-arrow-alt arrow-icon"></i
      ></a>
    </div>
  </div>
</section>

<!---------------Service section ends----------------->
