<!--slides-->
<div class="image-data">
  <span class="text"><h3>OUR BEST PHOTOS</h3> </span>
</div>

<section class="photo-slide swiper mySwiper">
  <div class="photo-wrapper swiper-wrapper">
    <div class="slide swiper-slide">
      <img src="slides/IMG_8449.png" class="image" />
    </div>
    <div class="slide swiper-slide">
      <img src="slides/IMG_20221002_124147.jpg" class="image" />
    </div>
    <div class="slide swiper-slide">
      <img src="slides/20220430_101936.jpg" class="image" />
    </div>
    <div class="slide swiper-slide">
      <img src="slides/20220312_16092.jpg" class="image" />
    </div>
  </div>

  <div class="swiper-button-next nav-btn"></div>
  <div class="swiper-button-prev nav-btn"></div>
  <div class="swiper-pagination"></div>
</section>
