<!----------------------------Testimonial section starts------------------------->

<section class="testimonial-container">
  <div class="testimonial mySwiper">
    <div class="testi-content swiper-wrapper">
      <div class="testi-slide swiper-slide">
        <img
          class="testi-image"
          src="Images/testimonal-images/82ed778e463697a22ef919067320b783.jpeg"
        />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          odio deserunt autem? Veritatis, quaerat nostrum! Dignissimos sint
          minus ratione, repellat sed incidunt, eveniet libero odit quae
          exercitationem, consectetur atque dolorem!
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>

        <div class="details">
          <span class="cliet-name">Chris Smith</span>
          <span class="cliet-job">Ceo & Software Engineer</span>
        </div>
      </div>
      <div class="testi-slide swiper-slide">
        <img
          class="testi-image"
          src="Images/testimonal-images/istockphoto-1150254159-612x612.jpg"
        />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          odio deserunt autem? Veritatis, quaerat nostrum! Dignissimos sint
          minus ratione, repellat sed incidunt, eveniet libero odit quae
          exercitationem, consectetur atque dolorem!
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>

        <div class="details">
          <span class="cliet-name">Shady Brown</span>
          <span class="cliet-job">Social Media manager</span>
        </div>
      </div>
      <div class="testi-slide swiper-slide">
        <img
          class="testi-image"
          src="Images/testimonal-images/istockphoto-1270376137-612x612.jpg"
        />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          odio deserunt autem? Veritatis, quaerat nostrum! Dignissimos sint
          minus ratione, repellat sed incidunt, eveniet libero odit quae
          exercitationem, consectetur atque dolorem!
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>

        <div class="details">
          <span class="cliet-name">Kgothatso Mahlako</span>
          <span class="cliet-job">Teacher</span>
        </div>
      </div>
      <div class="testi-slide swiper-slide">
        <img
          class="testi-image"
          src="Images/testimonal-images/main-thumb-201394688-200-ilhrxwapagxcxyvtshbizqqmbkdqihia.jpeg"
        />
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus
          odio deserunt autem? Veritatis, quaerat nostrum! Dignissimos sint
          minus ratione, repellat sed incidunt, eveniet libero odit quae
          exercitationem, consectetur atque dolorem!
        </p>
        <i class="bx bxs-quote-alt-left quote-icon"></i>

        <div class="details">
          <span class="cliet-name">John Logan</span>
          <span class="cliet-job">Ceo of</span>
        </div>
      </div>
    </div>
    <div class="swiper-button-next nav-btn"></div>
    <div class="swiper-button-prev nav-btn"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

<!----------------------------Testimonial section starts------------------------->
