<!--services horizontal scrolling-->
<div class="page-header">
  <div class="container flow">
    <h1 class="page-title">Content And Film</h1>
    <p class="page-subtitle">Explore contents and films we have produced</p>
  </div>
</div>

<h2 class="section-title">Music Videos</h2>

<div class="media-scroller snaps-inline">
  <button class="media-element">
    <video src="videos/wedding_Videos/Mahlogonolo_ad.mp4" controls></video>
    <p class="title">Short title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptate alias asperiores!
    </p>
  </button>
  <button class="media-element">
    <video src="videos/20220430_150234.mp4" controls></video>
    <p class="title">Short title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptate alias asperiores!
    </p>
  </button>
  <button class="media-element">
    <video src="videos/Agurchu_&_Soulful Nox.mp4" controls></video>
    <p class="title">Short title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptate alias asperiores!
    </p>
  </button>
  <button class="media-element">
    <video src="videos/Ex_dance_at_the_river.mp4" controls></video>
    <p class="title">Short title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptate alias asperiores!
    </p>
  </button>
  <button class="media-element">
    <video src="videos/Izingane_promo.mp4" controls></video>
    <p class="title">Short title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptate alias asperiores!
    </p>
  </button>
  <button class="media-element">
    <video src="videos/to_lyd.mp4" controls></video>
    <p class="title">Short title</p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
      voluptate alias asperiores!
    </p>
  </button>
</div>
<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat minima
  aperiam esse aut quae ad placeat expedita voluptate, iusto optio.
</p>
